.vs
/VisualStudioProjects/sizeof_0/Debug
*.opensdf
*.sdf
/VisualStudioProjects/reference_0/Debug
/VisualStudioProjects/ConstructorArgument_0/Debug
/VisualStudioProjects/NonInitClassMember_0/Debug
/VisualStudioProjects/ForLoop_0/Debug
/VisualStudioProjects/ForLoop_1/Debug
/VisualStudioProjects/WhileLoop_0/Debug
